# Unnecessary/huge files
.build/

# Private project files
.project-files/obsidian/.obsidian/
.project-files/obsidian/.trash/

# IDE stuff
.Ideas
.vs/
ShootEmUp.csproj
ShootEmUp.sln

# Cache/other
.godot/
